<div class="h-screen w-screen flex flex-col bg-red-50 justify-center items-center">
  <div class="p-4 bg-red-800">
    <div class="p-4 flex flex-col w-50px">
      <div>Email</div>
      <input class="mt-2 border-black" />
    </div>
    <div class="p-4 flex flex-col w-50px">
      <div>Password</div>
      <input class="mt-2 border-black" />
    </div>
  </div>
  <div class="mt-12 flex flex-col">
    <button class="bg-black px-4 py-3 flex justify-center items-center text-white">
      Login
    </button>
    <button class="bg-black mt-4 px-4 py-3 flex justify-center items-center text-white">
      SignUp
    </button>
  </div>
</div>
